#home{
    /* position: relative; */
    display:flex;
    width: 100%;
    height: 100%;
}

#leftpanel{
    /* overflow-y: scroll; */
}

#rightpanel{
    position: relative;
}

#name{
    /* position: absolute;
    top: 3%;
    left: 1.5%; */
    padding-left: 3%;
    padding-top: 2%;
    font-size:7vw;
    font-weight: 300;
    color: black;
}

#summary{
    position: fixed;
    bottom: 5%;
    left: 2%;
    font-size:1.8vw;
    font-weight: 300;
    width: 50%;
}

#content{
    width: 90%;
    padding-left: 4%;
    padding-top: 7%;
    overflow: auto;
}

#home_button{
    position: fixed;
    bottom: 3%;
    right: 43%;
}

#quote{
    font-size: 1.3vw;
    padding-top: 2%;
}
  
