#home{
    /* position: relative; */
    display:flex;
    width: 100%;
    height: 100%;
}

#leftpanel{
    /* overflow-y: scroll; */
}

#rightpanel{
    position: relative;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=MuseoModerno:wght@100;300;400&display=swap');

#name{
    /* position: absolute;
    top: 3%;
    left: 1.5%; */
    padding-left: 3.5%;
    padding-top: 4%;
    font-size:8vw;
    font-weight: 300;
    color: black;
    font-family: 'Libre Barcode 128 Text', cursive;
}

#summary{
    position: fixed;
    bottom: 5%;
    left: 2%;
    font-size:1.6vw;
    font-weight: 300;
    width: 50%;
    font-family: 'MuseoModerno', cursive;
    font-weight: 400;
    font-style: normal;
}

#content{
    width: 90%;
    padding-left: 4%;
    padding-top: 7%;
    overflow: auto;
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;
}

#quote{
    font-size: 1.1vw;
    padding-top: 2%;
    font-weight: 100;
    font-style: normal;
}