.page_text {
    text-align: right;
    position: absolute;
    bottom: 7px;
    right: 12px;
    color: white;
    font-size: 1.8vw;
    pointer-events: none;
    font-weight: 300;
  }

.space {
    position: relative;
    text-align: center;
}
  
.projects,.writing,.art,.about{
    cursor: pointer;
}
